/* Resetando estilos padrão do navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Importando fonte do Google Fonts */
@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap";

/* Estilos Gerais */
body {
  background: #6e0065;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

/* Cabeçalho */
header {
  background-color: #000000;
  padding: 50px 0;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

h1 {
  font-size: 48px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

h3 {
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}

/* Navegação */
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 8px 16px;
  box-shadow: 0 4px 15px rgba(248, 251, 255, 53%);
  backdrop-filter: blur(15px);
  border-radius: 0 0 18px 18px;
  transition: 0.3s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #ffffff;
  margin: 10px;
}

ul.scrolled {
  min-height: 40px;
  padding: 4px 0;
  border-radius: 0;
  margin: -10px;
  position: fixed;
}

ul li {
  margin-right: 20px;
  margin: 10px;
}

ul li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background: #555;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

/* Principal */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6e0065;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

p {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* Contêiner de Jogos */
.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

/* Estilos para os Jogos */
.game {
  flex: 1;
  max-width: 300px;
  background-color: #757272;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.game img {
  width: 100%;
  max-width: 220px;
  height: auto;
  margin-bottom: 10px;
}

.game:hover {
  background-color: #f90;
  transform: scale(1.1);
  cursor: pointer;
}

.game:hover img {
  transform: scale(1.2);
}

.game span {
  font-weight: bold;
}

/* Rodapé */
footer {
  background-color: #000000;
  padding: 30px 0;
  text-align: center;
}

small {
  opacity: 0.5;
  font-weight: 300;
}

/* Formulário */
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

textarea {
  resize: vertical;
  height: 150px;
}

/* Links */
a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background: #555;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background: #f90;
  color: #fff;
}

/* Contêiner de GIFs */
.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gif img {
  width: 50px;
}

/* Animação de Rotação */
@keyframes scrollAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.modal-img {
  max-width: 100%;
  height: auto;
}

#modalLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background: none;
}

#modalLink:hover {
  text-decoration: underline;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

/* Ícone do Menu */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6 px);
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsividade */
@media screen and (max-width: 700px) {
  .menu-icon {
    display: flex;
  }

  ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #6e00657a;
    flex-direction: column;
    width: 50%;
  }

  ul.active {
    display: flex;
  }

  ul li {
    margin: 20px 0;
  }

  ul.scrolled {
    min-height: 40px;
    padding: 4px 0;
    border-radius: 0;
  }
}

/* Página de Emulação */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-box {
  width: 300px;
  background-color: #757272;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image-box img {
  width: 100%;
  max-width: 220px;
  height: auto;
  margin-bottom: 10px;
}

.image-box:hover {
  background-color: #f90;
  transform: scale(1.1);
  cursor: pointer;
}

.image-box:hover img {
  transform: scale(1.2);
}

.image-box span {
  font-weight: bold;
}

/* Estilos adicionais para formulário na página de emulação */
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

textarea {
  resize: vertical;
  height: 150px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background: #555;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background: #f90;
  color: #fff;
}

/* Animação de rolagem para contêiner de jogos */
.game-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.game {
  display: inline-block;
  margin-right: 20px;
  animation: scrollAnimation 20s infinite linear;
}

.game-image {
  max-width: 150px;
}

/* Estilos para botão de download */
.download-button {
  border-radius: 5px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
